@model List<HCF.BDO.TMOP>
@{

    ViewBag.Title = "Method Of Procedure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @section pageHeader{
    <section class="content-header">
        <h1>
            Method of Procedure (MOP)
        </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="" id="questtblediv">
                        <div class="row tablelist-topform">
                            <div class="col-md-3">
                                @*@Html.ICRAProjectDropDown("SelProjectId", 0, "-- All Project --", new { @class = "form-control" })*@
                                <icraprojectdropdown name="SelProjectId" selectedvalue="0"
                                                     class="form-control" firsttext="-- All Project --"></icraprojectdropdown>
                            </div>
                            <div class="col-md-3">
                                @*@Html.ApprovalStatusDropDownList("statusId", -2, new { @class = "form-control" })*@
                                <approvalstatusdropdownlist name="statusId" selectedvalue="-2" class="form-control"></approvalstatusdropdownlist>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="mopTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>Permit #</th>
                                            <th>Project Name</th>
                                            <th style="display:none">Project #</th>
                                            <th>Start Date</th>
                                            <th>Contractor</th>
                                            <th>Building</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                            <th class="mopcount">Attachments</th>
                                            <th style="display:none"></th>
                                            <th style="display:none"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(x => x.IsActive).OrderByDescending(x => x.StartDate))
                                        {
                                        <tr>
                                            <td>@item.PermitNo</td>
                                            <td>@item.ProjectName</td>
                                            <td style="display:none">
                                                @((item.Project != null) ? item.Project.ProjectNumber : "")
                                            </td>
                                            <td data-sort="@item.StartDate.DateSort()">
                                                @item.StartDate.ToFormatDate()
                                            </td>
                                            <td>
                                                @item.Contractor
                                            </td>
                                            <td>
                                                @(!string.IsNullOrEmpty(item.BuildingId)?item.BuildingName.TrimStart(','):string.Empty)
                                            </td>
                                            <td>
                                                <input type="hidden" value="@item.Status" />
                                                @{
                                                    HCF.BDO.Enums.ApprovalStatus enums = (HCF.BDO.Enums.ApprovalStatus)item.Status;
                                                }
                                                <p>@(item.Status == 3 ? "Hold" : enums.GetDescription())</p>
                                            </td>
                                            <td class="mopmoredot">
                                                <a href="@Url.RouteUrl("addmethodofprocedure",new { id=item.TmopId})">
                                                    <span><img src="@Url.Content(HCF.Web.Models.ImagePathModel.EditIcon)" title="Edit Permit" alt="3d_add_button" /></span>
                                                </a>
                                                <a data-id="@item.TmopId" class="@(HCF.Web.Base.UserSession.IsInRole("setup_Constructions_superadmin") ? "deletepermit" :"deletepermit hide")">
                                                    <span><img src="@Url.Content(HCF.Web.Models.ImagePathModel.DeleteIcon)" title="Delete Permit" alt="3d_add_button" /></span>
                                                </a>


                                                <div class="dropdown icratable-drop icondpwnload">
                                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        <span>
                                                            <img src="~/dist/Images/Icons/pdf_icon.png" title="Download Pdf" alt="" />
                                                        </span>
                                                    </button>
                                                    <ul class="dropdown-menu ctmenu">

                                                        <li data-action="icrapermit">
                                                            <a href="@Url.Action("MethodofprocedurePdf", "Pdf", new { id = item.TmopId,IsAttachmentIncluded=false})">
                                                                <span>
                                                                    Export permit as PDF
                                                                </span>
                                                            </a>

                                                        </li>

                                                        <li data-action="icrapermit">
                                                            <a href="@Url.Action("DownloadMOPAttachments", "Permit", new { id = item.TmopId,IsAttachmentIncluded=true})">
                                                                <span>
                                                                    Export permit as PDF w/ attachments
                                                                </span>
                                                            </a>

                                                        </li>


                                                    </ul>

                                                </div>
                                            </td>

                                            <td class="">
                                                <div class="dropdown icratable-drop">
                                                    <button class="btn dropdown-toggle dot-icons" type="button" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        <span title="Click expand count list" class="mopSuperBox-count">@item.AdditionalForms.Count</span>
                                                    </button>
                                                    <ul  style="@(item.AdditionalForms.Count>0?"":"display:none;")" class="@(item.AdditionalForms.Where(x=>x.PermitNo!="").ToList().Count>0?"dropdown-menu ctmenu":"disable dropdown-menu ctmenu")">
                                                        @foreach (var additionalform in item.AdditionalForms.Where(x => x.PermitNo != "").ToList())
                                                        {


                                                            if (additionalform.FormId == 1)
                                                            {

                                                                <li data-action="icrapermit">
                                                                    <a href="@Url.RouteUrl("updateceilingpermit", new { ceilingPermitId = additionalform.PermitId })">
                                                                        <span>
                                                                            @additionalform.PermitNo
                                                                        </span>
                                                                    </a>
                                                                </li>


                                                            }
                                                            else if (additionalform.FormId == 2)
                                                            {
                                                                <li data-action="icrapermit">
                                                                    <a href="@Url.Action("AddFSBPermit", "Permit", new { tfsbPermitId = additionalform.PermitId })">
                                                                        <span>
                                                                            @additionalform.PermitNo
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            }
                                                            else if (additionalform.FormId == 3)
                                                            {
                                                                <li data-action="icrapermit">
                                                                    <a href="@Url.Action("AddHotWorkPermit", "HotWorkPermit", new { projectid = item.ProjectId, thotworkpermitid = additionalform.PermitId, mode = "edit" })">
                                                                        <span>
                                                                            @additionalform.PermitNo
                                                                        </span>
                                                                    </a>
                                                                </li>
                                                            }

                                                            else
                                                            {
                                                                <li data-action="icrapermit">
                                                                    <a href="@Url.RouteUrl("newLsdformadd", new { formId = additionalform.PermitId, formType = (additionalform.FormId == 4) ? "addition" : "removal" })">
                                                                        <span>
                                                                            @(additionalform.FormId == 4 ? "LS Addition" : "LS Removal") (@additionalform.PermitNo)
                                                                        </span>
                                                                    </a>
                                                                </li>

                                                            }

                                                        }


                                                    </ul>

                                                </div>
                                            </td>

                                            <td style="display:none">@item.Status</td>
                                            <td style="display:none">@item.ProjectId</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

    var selprojectId = $("#SelProjectId");
    var statusId = $("#statusId");
    var mopTable = $('#mopTable').DataTable({
        "lengthChange": false,
        "pageLength": 20,
        "bPaginate": $('#mopTable tbody tr').length > 20,
        "bInfo": false,
        "aaSorting": [],
        "oSearch": { "bSmart": false },
        "order": [[3, "desc"]],
        language: {
            emptyTable: "No data available in table",
            search: "_INPUT_", //To remove Search Label
            searchPlaceholder: "Search..."
        },
         initComplete: function () {
             $("div.toolbar").html('<div class="add-commanBtn"><a href="@(Url.Action("0", "method_of_procedure"))" class= "pull-right" ><img src="/dist/Images/Icons/3d_add_button.png" title="Add Method of Procedure (MOP)" alt="3d_add_button"></a></div >');
        },
        dom: "<'row'<'col-sm-2'B><'col-sm-2'l><'col-sm-8 tableactions'flp <'toolbar'>>>" + "<'row'<'col-md-12'<'table-responsive tableHeight'tr> > >" + "<'row'<'col-sm-12 text-right'p>>",
          buttons: [
            {
                extend: 'pdfHtml5',
                orientation: 'portrait',
                //pageSize:'LEGAL',
                title: 'Method Of Procedure [MOP] Report',
                exportOptions: {
                    columns: [0, 1, 3, 4, 5, 6]
                },
                messageBottom: function () {
                    return $("#dvgeneratedby").text();
                },
                customize: function (doc) {
                    //genereateRpeort(doc)
                    //Remove the title created by datatTables
                    doc.content.splice(0, 1);
                    //Create a date string that we use in the footer. Format is dd-mm-yyyy
                    var now = new Date();
                    var jsDate = setDateFormat(now);
                    //var jsDate = now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear();
                    // Logo converted to base64
                    //var logo = $("#logoimgbase64").val();
                    debugger;
                    var logo = localStorage.getItem("logoimgbase64");//getBase64FromImageUrl();
                    //console.log(logo);
                    // The above call should work, but not when called from codepen.io
                    // So we use a online converter and paste the string in.
                    // Done on http://codebeautify.org/image-to-base64-converter
                    // It's a LONG string scroll down to see the rest of the code !!!
                    //var logo = '';
                    // A documentation reference can be found at
                    // https://github.com/bpampuch/pdfmake#getting-started
                    // Set page margins [left,top,right,bottom] or [horizontal,vertical]
                    // or one number for equal spread
                    // It's important to create enough space at the top for a header !!!
                    doc.pageMargins = [20, 60, 20, 30];
                    // Set the font size fot the entire document
                    doc.defaultStyle.fontSize = 8;
                    // Set the fontsize for the table header
                    doc.styles.tableHeader.fontSize = 7;
                    // Create a header object with 3 columns
                    // Left side: Logo
                    // Middle: brandname
                    // Right side: A document title
                    doc['header'] = (function () {
                        return {
                            columns: [
                                { image: logo, width: 40 },
                                {
                                    alignment: 'left',
                                    italics: true,
                                   text: ('@HCF.Web.Base.UserSession.CurrentOrg'!=null ?getOrgName('@HCF.Web.Base.UserSession.CurrentOrg.Name'):""), @*text: '@HCF.Web.Base.UserSession.CurrentOrg.Name',*@
                                    fontSize: 14,
                                    margin: [0, 6, 0, 0],
                                    width: 200,
                                },
                                {
                                    alignment: 'middle',
                                    fontSize: 14,
                                    text: 'Method Of Procedure [MOP] Report',
                                    margin: [0, 6, 0, 0]
                                }
                            ],
                            margin: 20
                        }
                    });
                    // Create a footer object with 2 columns
                    // Left side: report creation date
                    // Right side: current page and total pages
                    doc['footer'] = (function (page, pages) {
                        return {
                            columns: [
                                {
                                    alignment: 'left',
                                    text: ['Created on: ', { text: jsDate.toString() }]
                                },
                                {
                                    alignment: 'right',
                                    text: ['Generated from: ', { text: 'CRx' }]
                                },
                                {
                                    alignment: 'right',
                                      text: ['Generated by: ', { text: ('@HCF.Web.Base.UserSession.CurrentUser'!=null ?'@HCF.Web.Base.UserSession.CurrentUser.Name':"") }]
                                },
                                {
                                    alignment: 'right',
                                    text: [{ text: page.toString() }, ' of ', { text: pages.toString() }]
                                }
                            ],
                            margin: 20
                        }
                    });
                    // Change dataTable layout (Table styling)
                    // To use predefined layouts uncomment the line below and comment the custom lines below
                    // doc.content[0].layout = 'lightHorizontalLines'; // noBorders , headerLineOnly
                    var objLayout = {};
                    objLayout['hLineWidth'] = function (i) { return .5; };
                    objLayout['vLineWidth'] = function (i) { return .5; };
                    objLayout['hLineColor'] = function (i) { return '#aaa'; };
                    objLayout['vLineColor'] = function (i) { return '#aaa'; };
                    objLayout['paddingLeft'] = function (i) { return 4; };
                    objLayout['paddingRight'] = function (i) { return 4; };
                    doc.content[0].layout = objLayout;
                }
            },
            {
                extend: 'excel',
                title: 'Method Of Procedure [MOP] Report',
                messageBottom: function () {
                    return $("#dvgeneratedby").text();
                },
                exportOptions: {
                    columns: [0, 1,3,4,5,6],
                    orthogonal: 'export'
                }
            }
        ]
    });

    $(document).ready(function () {
        $("#statusId").prepend("<option selected='selected' value='-2' >All Status</option>");
        var projectId = parseInt(getParameterByName('ProjectId'));
        var status = getParameterByName('Status');
        if (projectId != undefined && projectId > 0) {
            selprojectId.val(projectId);
            filterRecords(projectId);
        }
        if (status != undefined) {
            debugger;
            filterRecordsbyStatus(status);
        }

        $('.formIcons').click(function () {
            $(this).toggleClass("active");
            var array = [];
            $('.formIcons').each(function () {
                if ($(this).hasClass('active')) {
                    array.push($(this).attr("formType"));
                }
            });
            console.log(array.join('|'));
            if (array.length == 0) {
                array.push(2);
            }
            mopTable.column(0).search(array.join('|'), true, false, true).draw();
        });
        $("#statusId>option[value=4]").hide();
        $("#statusId>option[value=5]").hide();
        $("#statusId>option[value=6]").hide();
        $("#statusId>option[value=3]").text("Hold");
    });

    selprojectId.change(function () {
        debugger;
        var projectId = selprojectId.val();
        filterRecords(projectId);
    })

    function filterRecords(projectId) {
        if (projectId > 0) {
            //alert("Call " + projectId);
            mopTable.column(-1).search("^" + projectId + "$", true, true, false).draw();
        } else {
            mopTable.columns(-1).search("").draw();
        }
    }

    function filterRecordsbyStatus(status) {
        if (status != undefined) {
            if (status != "-2") {
                mopTable.column(-2).search("^" + status + "$", true, true, false).draw();
            }
            else {
                mopTable.columns(-2).search("").draw();
            }

        }
    }
    statusId.change(function () {
        // var PermitType = PermitType.val();
        filterRecordsbyStatus($(this).val());
    })
    $(document).on('click', 'a.deletepermit', function (e) {
        debugger;
        e.preventDefault();
        var Id = $(this).data("id");
        swal({
            title: "Are you sure?",
            text: "Do you want to delete this permit?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    type: "GET",
                    url: CRxUrls.Permit_Delete + "?id=" + Id + "&permittype=3",
                    success: function (data) {
                        swal("Deleted!", "Your permit has been deleted.", "success");
                        location.reload();
                    },
                    dataType: "json",
                    traditional: true
                });
            });
    });
    </script>

