@model HCF.BDO.ConstructionType
@using (Html.BeginForm())
{
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="modelTitle">Manage Construction Type</span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ConstructionTypeId)
            <div class="form-group">
                @Html.LabelFor(model => model.TypeName)<em class="required-field"> *</em>              
                @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.TypeName)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Description)<em class="required-field"> *</em>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
            <div class="form-group comman_checkbox">
                
                @*@Html.LabelFor(model => model.IsActive)*@
                @Html.EditorFor(model => model.IsActive)<span></span>
                @Html.ValidationMessageFor(model => model.IsActive)
            <label>Active</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="comm-button" />
        <button type="button" class="comm-Cancelbutton" data-dismiss="modal">Cancel</button>
    </div>
}
