@model HCF.BDO.ICRAObsReportCheckPoints
@using (Html.BeginForm())
{
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="modelTitle"> Manage Report Checkpoint</span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </h4>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.ValidationSummary(true)
            @Html.HiddenFor(model => model.ICRAReportPointId)
            <div class="col-md-12 form-group">
                @Html.LabelFor(model => model.CheckPoints)<em class="required-field"> *</em>
                @Html.TextBoxFor(model => model.CheckPoints, new { @class = "form-control", required = "required", maxlength = 500 })
                @Html.ValidationMessageFor(model => model.CheckPoints)
            </div>
            <div class="col-md-12 form-group comman_checkbox">

                @*@Html.LabelFor(model => model.IsActive)*@
                @Html.EditorFor(model => model.IsActive)<span></span>
                @Html.ValidationMessageFor(model => model.IsActive)
                <label>Active</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <input type="submit" value="Save" class="comm-button" />
        <button type="button" class="comm-Cancelbutton" data-dismiss="modal">Cancel</button>
    </div>
}



