@model IEnumerable<HCF.BDO.TIcraProject>

@{
    ViewBag.Title = "Projects";
}



    @section pageHeader
    {
        <section class="content-header">
            <h1>
                Projects
            </h1>
        </section>
    }

    <section class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="row tablelist-topform">
                        <div class="col-md-3">
                            <select id="drpprojectStatus" name="drpprojectStatus" class="form-control ddlbox">
                                <option value="">All</option>
                                <option value="1">Active</option>
                                <option value="0">InActive</option>
                            </select>
                        </div>
                    </div>
                    <table id="myTableIcra" class="table table-bordered table-hover comman_checkbox">
                        <thead>
                            <tr>
                                <th style="display:none">SubStatus</th>
                                <th class="no-sorting" width="26px">

                                </th>

                                <th>
                                    Master Project #
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Manager
                                </th>

                                <th class="no-sorting">Status</th>
                                <th class="no-sorting">Action</th>
                                <th class="no-sorting" id="divPCRA">
                                    @(commonModelFactory.IsMenuExist("ICRA", Convert.ToString(session.ClientNo)) ?
                                                                                                        "Add PCRA" : "Add CRA")
                                </th>
                                <th class="no-sorting">Add Sub Project</th>
                                <th class="no-sorting" title="Attachments" width="3%">
                                    <img src="@Url.Content("~/dist/Images/Icons/attachment_icon_new.png")" alt="Attachments" title="Drawing Attachments" />
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.OrderByDescending(x => x.CreatedDate))
                            {
                                <tr>
                                    <td style="display:none">
                                        @Convert.ToInt32(item.Status)
                                    </td>

                                    @if (item.SubProject.Any())
                                    {
                                        <td class="details-control" data-projectid="@item.ProjectId"></td>
                                    }
                                    else
                                    {
                                        <td class="details-control disable" data-projectid="@item.ProjectId"></td>
                                    }

                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectLocation)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ProjectManager)
                                    </td>
                                    @*<td>
                        @Html.DisplayFor(modelItem => item.Architect)
                    </td>*@
                                    <td class="comman_checkbox1">
                                        @Html.CheckBoxFor(modelItem => item.Status, new { disabled = "disabled" })<span></span>
                                    </td>
                                    <td>
                                        <img onclick="location.href ='@Url.Action("AddOrEdit", "IcraProject" , new { Id=item.ProjectId })'"
                                                src="@Url.Content(HCF.Web.Models.ImagePathModel.EditIcon)"
                                                title="Edit" />
                                    </td>
                                    @if (commonModelFactory.IsMenuExist("PCRA", Convert.ToString(session.ClientNo)))
                                    {
                                        <td title="@(item.Status ? "Add PCRA" : "Project is inactive state PCRA can not be added")">
                                            <img onclick="location.href ='@Url.Action("AddPCRA", "PCRA", new { projectId = item.ProjectId, mode = "add" })'"
                                                    src="@Url.Content(HCF.Web.Models.ImagePathModel.AddIcon)"
                                                    title="@(item.Status ? "Add PCRA" : "Project is inactive state PCRA can not be added")"
                                                    class="@(item.Status ? "imgpcra" : "imgpcra disable")" />


                                        </td>
                                    }
                                    else
                                    {
                                        <td title="@(item.Status ? "Add CRA" : "Project is inactive state CRA can not be added")">


                                            <img onclick="location.href ='@Url.Action("AddCRA", "PCRA", new { projectId = item.ProjectId, mode = "add" })'"
                                                    src="@Url.Content(HCF.Web.Models.ImagePathModel.AddIcon)"
                                                    title="@(item.Status ? "Add CRA" : "Project is inactive state CRA can not be added")"
                                                    class="@(item.Status ? "imgcra" : "imgcra disable")" />
                                        </td>
                                    }

                                    <td>
                                        <img onclick="location.href ='@Url.Action("AddOrEdit", "IcraProject", new { Id = 0 , ParentProjectId = item.ProjectId })'"
                                                src="@Url.Content(HCF.Web.Models.ImagePathModel.AddIcon)" title="Add New Sub Project" alt="3d_add_button" />
                                    </td>
                                    <td><img onclick="location.href ='@Url.Action("AddOrEdit", "IcraProject" , new { Id=item.ProjectId })'" src="@Url.Content("~/dist/Images/Icons/attachment_icon_new.png")" style="@(item.DrawingAttachments.Count>0 || item.Attachments.Count>0?"display:block;":"display:none;")" alt="Attachments" title="This project contains some files or drawing attachments" /></td>
                                    <td>
                                        <div class="dropdown icratable-drop">
                                            <button class="btn dropdown-toggle dot-icons" type="button" data-toggle="dropdown">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </button>
                                            @await Html.PartialAsync("~/Views/Shared/_projectPermitoptions.cshtml", item)
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                   
                </div>
            </div>
        </div>
    </section>


<script>


    var dataTableIcarProject = $('#myTableIcra').DataTable({
        "searching": true,
        "lengthChange": false,
        "aaSorting": [],
        "pageLength": 10,
        "bPaginate": $('#myTableIcra tbody tr').length > 10,
        "bInfo": false,
       /*  "order": [[1, "desc"]],*/
        //"oSearch": { "bSmart": false },
        "language": {
            "emptyTable": "No data available in table",
            "search": "_INPUT_",
            "searchPlaceholder": "Search.."
        },
         initComplete: function () {
            $("div.toolbar").html('<div class="add-commanBtn"><a href="@(Url.Action("AddOrEdit", "IcraProject"))" class= "pull-right" ><img src="/dist/Images/Icons/3d_add_button.png" title="Add New Project" alt="3d_add_button"></a></div >');
        },
        dom: "<'row'<'col-sm-2'B><'col-sm-2'l><'col-sm-8 tableactions'flp <'toolbar'>>>" + "<'row'<'col-md-12'<'table-responsive tableHeight'tr> > >" + "<'row'<'col-sm-12 text-right'p>>",

        buttons: [
                {
                    extend: 'pdfHtml5',
                    orientation: 'portrait',
                    title: 'Project Report',
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5]
                    },
                    messageBottom: function () {
                        return $("#dvgeneratedby").text();
                    },
                    customize: function (doc) {
                        doc.content.splice(0, 1);
                        var now = new Date();
                        var jsDate = setDateFormat(now);
                        var logo = localStorage.getItem("logoimgbase64");//getBase64FromImageUrl();
                        doc.pageMargins = [20, 60, 20, 30];
                        doc.defaultStyle.fontSize = 8;
                        doc.styles.tableHeader.fontSize = 7;
                        doc['header'] = (function () {
                            return {
                                columns: [
                                    { image: logo, width: 40 },
                                    {
                                        alignment: 'left',
                                        italics: true,
                                        text: getOrgName('@HCF.Web.Base.UserSession.CurrentOrg.Name'), @*text: '@HCF.Web.Base.UserSession.CurrentOrg.Name',*@
                                        fontSize: 14,
                                        margin: [0, 6, 0, 0],
                                        width: 200,
                                    },
                                    {
                                        alignment: 'middle',
                                        fontSize: 14,
                                        text: 'Project Report',
                                        margin: [0, 6, 0, 0]
                                    }
                                ],
                                margin: 20
                            }
                        });
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Generated from CRx on ', { text: jsDate.toString() }]
                                    },
                                    {
                                        alignment: 'center',
                                        text: ['Page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['Generated by: ', { text: '@HCF.Web.Base.UserSession.CurrentUser.Name'} ]
                                    }
                                ],
                                margin: 20
                            }
                        });
                        var objLayout = {};
                        objLayout['hLineWidth'] = function (i) { return .5; };
                        objLayout['vLineWidth'] = function (i) { return .5; };
                        objLayout['hLineColor'] = function (i) { return '#aaa'; };
                        objLayout['vLineColor'] = function (i) { return '#aaa'; };
                        objLayout['paddingLeft'] = function (i) { return 4; };
                        objLayout['paddingRight'] = function (i) { return 4; };
                        doc.content[0].layout = objLayout;
                    }
                },
                {
                    extend: 'excel',
                    title: 'Project Report',
                    messageBottom: function () {
                        return $("#dvgeneratedby").text();
                    },
                    exportOptions: {
                        columns: [1, 2, 3, 4, 5],
                        orthogonal: 'export'
                    }
                }
            ]
    });

  
    $(document).ready(function () {
        debugger;

        $("#drpprojectStatus").val("1");

        $("#drpprojectStatus").on('change', function () {
            debugger;
            var val = $(this).val();
            if (val != "") {
                debugger
                dataTableIcarProject.column(0).search("^" + val + "$", true, true, false).draw();
            } else {
                dataTableIcarProject.columns(0).search("").draw();
            }
        });

        $("#drpprojectStatus").trigger("change");
       

    });
   
    $('.dt-button.buttons-pdf.buttons-html5').attr('title', 'Download PDF');
    $('.dt-button.buttons-excel.buttons-html5').attr('title', 'Download Excel');
    $(document).on('click', '#myTableIcra > tbody > tr > td.details-control',function () {

        var tr = $(this).closest('tr');
        console.log(tr)
        var row = dataTableIcarProject.row(tr);
        if (row.child.isShown()) {
            row.child.hide();
            tr.removeClass('shown')
            $('div.slider', row.child()).slideUp(function () {
                row.child.hide();
                tr.removeClass('shown');
            });
        }
        else {
            var ProjectId = $(this).data("projectid");
            var url = '@Url.Content("~/child_icra_project")' + "?ProjectId=" + ProjectId;
            console.log(url)
            $.get(url, function (childProject) {
                row.child(childProject, 'no-padding').show();
                tr.addClass('shown');
            });
            $('div.slider', row.child()).slideDown();
        }
    });
</script>

