@model List<HCF.BDO.RoundGroup>

<h4>Assign Users</h4>
<div style="width:100% !important;">
    <ul class="uname-listitem">
        @foreach (var item in Model.Where(x => x.IsActive == 1 ).OrderBy(x => x.Name))
        {
            <li>
                <input type="hidden" value="@item.RoundGroupId" id="useridid" />
                <input type="checkbox" value='@item.RoundGroupId' name="organization"
                       @((item.IsActive==1) ? "checked='checked'" : "") /> <span></span>
                @item.Name
                <br />
                (@item.Email)
            </li>
        }
        @foreach (var item in Model.Where(x => x.IsActive == 0).OrderBy(x => x.Name))
        {
            <li>
                <input type="hidden" value="@item.RoundGroupId" id="useridid" />
                <input type="checkbox" value='@item.RoundGroupId' name="organization"  /> <span></span>
                @item.Name
                <br />
                (@item.Email)
            </li>
        }
    </ul>
</div>
<script>

    $("[type=checkbox]").on('change', function () {
       // debugger;
        var IsActive = $(this).is(':checked');
        var userid = $(this).val();
        var groupid = $("#drpUserGroup").val();
        var url = '@Url.Action("UpdateandSaveGroup", "Round")';
        $.get(url + '?userid=' + userid + '&groupid=' + groupid + '&IsActive=' + IsActive, function (data) {
            swalalert('Saved Successfully');
        });
    });
</script>