@model IEnumerable<HCF.BDO.News>
@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @section pageHeader{
    <section class="content-header">
            <h1>
                @Localizer["TitleNews"]
                  
                </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="settingnewBox">
                    @await Html.PartialAsync("_MoreConfig")
                    <div class="rightcol-setting">
                        <div class="box box-primary">
                            <div class="add_button_comman">
                                <a href='@(Url.RouteUrl("createnews"))' class="pull-right">
                                    <img id="addNewBtn" src="/dist/Images/Icons/3d_add_button.png" title="Add News" />
                                </a>
                                <table id="newsTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Title)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Published)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.StartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.EndDate)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            @Html.HiddenFor(modelItem => item.Id)
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Title)
                                                </td>
                                                <td>
                                                    @(item.Published ? "Yes" : "No")
                                                </td>
                                                <td width="100px">
                                                    @item.StartDate.ToFormatDate()
                                                </td>
                                                <td width="100px">
                                                    @item.EndDate.ToFormatDate()
                                                </td>
                                                <td>
                                                    <a asp-controller="News" asp-action="EditNews" asp-route-newsId="@item.Id" class="button1">Edit</a>
                                                    @*@Html.ActionLink("Edit", "EditNews", new { newsId = item.Id }, new { @class = "button1" })*@
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
    var table = $('#newsTable').DataTable({
        "lengthChange": false,
        "pageLength": 20,
        "aaSorting": [],
        "bPaginate": $('#newsTable tbody tr').length > 20,
        "bInfo": false,
        "searching": true,
        "language": {
            "emptyTable": "No data available in table"
        }
        ,
        
    });

</script>

<style>
    #newsTable_paginate {
       
        top: -32px;
        right: 70px;
    }

    td.whitespace {
        white-space: normal;
        overflow-wrap: break-word;
    }

    .hide {
        display: none;
    }
   
</style>