@model IEnumerable<HCF.BDO.DashboardDetails>

@using HCF.Web.Base

@inject ICommonModelFactory commonModelFactory
@{
    string PageName = (string)TempData["PageName"];
    ViewBag.Title = PageName;
    Layout = "~/Views/Shared/_Layout.cshtml";

}



    @section pageHeader{
    <section class="content-header">
        <h1>
            @PageName
        </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="">
                        <div class="btn-group btn-group-vertical right_setting" data-toggle="buttons">
                            <label class="btn active">
                                @Html.RadioButton("EPCat", 1)@Html.Label("EC")<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            </label>
                            <label class="btn">
                                @Html.RadioButton("EPCat", 2)@Html.Label("LS")<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            </label>
                            <label class="btn">
                                @Html.RadioButton("EPCat", 3)@Html.Label("EM")<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            </label>
                            <label class="btn">
                                @Html.RadioButton("EPCat", 0, true)@Html.Label("All")<i class="fa fa-circle-o fa-2x"></i><i class="fa fa-dot-circle-o fa-2x"></i>
                            </label>
                        </div>
                        <div>

                            <table id="c_myTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th style="display:none">Status</th>
                                        <th style="display:none">CategoryId</th>
                                        <th width="130">
                                            @Html.DisplayNameFor(model => model.StandardEP)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Score)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Assets)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th title="Inspection Date">
                                            <img alt="" src="@Url.Content(HCF.Web.Models.ImagePathModel.CalendarIcon)" title="Inspection Date">
                                        </th>
                                        <th title="User">
                                            <img alt="" src="@Url.Content("~/dist/Images/Icons/dashboard_user_icon.png")" title="User">
                                        </th>
                                        <th title="Frequency">
                                            <img alt="" src="@Url.Content("~/dist/Images/Icons/dashboard_clock.png")" title="Frequency">
                                        </th>
                                        <th title="Document">
                                            <img alt="" src="@Url.Content("~/dist/Images/Icons/dashboard_doc_icon.png")" title="Document">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td style="display:none">
                                                @Html.DisplayFor(modelItem => item.Status)
                                            </td>
                                            <td style="display:none">@Html.DisplayFor(modelItem => item.CategoryId)</td>
                                            <td class="@commonModelFactory.GetTranStatus(Convert.ToInt32(item.Status))">
                                                @if (PageName == "RA")
                                                {
                                                    <a href="@Url.Action("EPstate", "Goal", new { epId = item.EpDetailId, inspectionId=item.InspectionId })">
                                                        <span>@Html.DisplayFor(modelItem => item.StandardEP)</span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("IlsmAssets", "Goal", new { epId = item.EpDetailId, inspectionId = item.InspectionId })">
                                                        <span>@Html.DisplayFor(modelItem => item.StandardEP)</span>
                                                    </a>

                                                }

                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Score)
                                            </td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.AssetId))
                                                {
                                                    <span>@Html.DisplayFor(modelItem => item.Assets)</span>
                                                    @*<a href="@Url.Action("setup", "Assets", new { assetId = item.AssetId })">
                                                            <span>@Html.DisplayFor(modelItem => item.Assets)</span>
                                                        </a>*@
                                                }
                                            </td>
                                            <td class="comment">
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LastInspectionDate)
                                                @Html.DisplayFor(modelItem => item.DueDate)
                                                @Html.DisplayFor(modelItem => item.GraceDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.UserFullName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FrequencyDisplayName)
                                            </td>
                                            <td>
                                                @if (Convert.ToInt32(item.DOC) > 0)
                                                {
                                                    <a href="@Url.Action("EPDocs", "Goal", new { epId = item.EpDetailId, InspectionId = item.InspectionId })">
                                                        <span>
                                                            <img src="@commonModelFactory.ReturnImagePath(Convert.ToInt32(item.DOC),item.IsDocRequired)" />
                                                        </span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a><span><b>-</b></span></a>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">
    var dataTables = $('#c_myTable').DataTable({
        "lengthChange": false,
        "aaSorting": [],
        "searching": false,
        "bPaginate": $('#c_myTable tbody tr').length > 10,
        "bInfo": false,
        dom: 'Bfrtip',
        "language": {
            "emptyTable": "No data available in table"
        },
        buttons: [
            'excel', 'pdf'
        ]
    });
</script>
