@model HCF.BDO.SearchFilter
<table id="searchresultTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th> @Localizer["Asset"] </th>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNo)
            </th>
            <th> @Localizer["Location"] </th>
            <th> @Localizer["NearBy"] </th>
            <th width="60px">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TFloorAssets)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Assets.Name)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNo)
                </td>
                <td>@commonModelFactory.GetFloorAssetLocation(item)</td>
                <td>@Html.DisplayFor(modelItem => item.NearBy)</td>
                <td class="align-center">
                    <a href='@Url.RouteUrl("asseteps", new { floorassetId = item.FloorAssetsId, epId = 0, ismultipleEP = 0 })'>
                        <img style="cursor:pointer" src="@Url.Content(HCF.Web.Models.ImagePathModel.InspectIcon)" title="Inspection" />
                    </a>
                    <a href="@Url.Action("history", "Assets", new { floorassetId = item.FloorAssetsId,epId=0 })">
                        <img style="cursor:pointer" src="@Url.Content(HCF.Web.Models.ImagePathModel.HistoryIcon)" title="History" />
                    </a>
                    <a href="@Url.Action("getTfloorAssets", "Assets", new { floorId = item.FloorId.HasValue && item.FloorId > 0 ? item.FloorId : 0 ,type=0 })"
                       class="@(item.FloorId.HasValue && item.FloorId > 0 ? "" :"disabled")">
                        <img style="cursor:pointer;width:22px;" src="@Url.Content(HCF.Web.Models.ImagePathModel.LocationIcon)" title="Floor Plan" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    var datatable = $('#searchresultTable').dataTable({
        "searching": false,
        "pageLength": 20,
        "lengthChange": false,
        "bPaginate": $('#searchresultTable tbody tr').length > 20,
        "bInfo": false,
        "aaSorting": [],
        "language": {
            "emptyTable": "No data available in table"
        },
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",

    });
</script>