@model IEnumerable<HCF.BDO.Manufactures>


    @section pageHeader{
        <section class="content-header">
            <h1>
                Manufactures
            </h1>
        </section>
    }
    <div class="container-fluid">
        <div class="row">
            <div class="settingnewBox">

                @await Html.PartialAsync("_MoreConfig")

                <div class="rightcol-setting">
                    <div class="box box-primary">
                        <div class="add_button_comman">
                            <a href='@(Url.RouteUrl("addManufactures"))' class="pull-right">
                                <img src="@Url.Content(HCF.Web.Models.ImagePathModel.AddIcon)" title="Add Manufactures" alt="3d_add_button" />
                            </a>
                        </div>
                        
                            <table id="ManufactureTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ManufactureName)
                                        </th>
                                        <th>@Localizer["Status"]   </th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.ManufactureName)
                                            </td>
                                            <td class="comman_checkbox1">
                                                @Html.DisplayFor(modelItem => item.IsActive)<span></span>
                                            </td>

                                            <td title="Edit">
                                                <img onclick="location.href ='@Url.Action("mngManufacture", "Manufacture", new { mid = item.ManufactureId })'"
                                                     src="@Url.Content(HCF.Web.Models.ImagePathModel.EditIcon)" title="Edit" alt="Edit" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>


@section scripts
{
    <script>
    function DeleteManufacture() {
        return confirm($.Constants.Delete_Manufacture_Msg);
    }

     var table = $('#ManufactureTable').DataTable({
            "lengthChange": false,
            "pageLength": 20,
            "aaSorting": [],
           "bPaginate": $('#ManufactureTable tbody tr').length > 20,
            "bInfo": false,
            "searching": true,
            "language": {
                "emptyTable": "No data available in table"
            },
            aoColumnDefs: [
                {
                    orderSequence: ["desc", "asc"],
                    aTargets: ['_all']
                }
            ],
           
              dom: "Blftip",
      buttons: [
                {
                    extend: 'pdfHtml5',
                    orientation: 'portrait',
                    title: 'Manufacture Report',
                    exportOptions: {
                        columns: [0]
                    },
                    messageBottom: function () {
                        return $("#dvgeneratedby").text();
                    },
                    customize: function (doc) {
                        doc.content.splice(0);
                        var now = new Date();
                        var jsDate = setDateFormat(now);
                        var logo = localStorage.getItem("logoimgbase64");
                        doc.pageMargins = [20, 60, 20, 30];
                        doc.defaultStyle.fontSize = 8;
                        doc.styles.tableHeader.fontSize = 7;
                        doc['header'] = (function () {
                            return {
                                columns: [
                                    { image: logo, width: 40 },
                                    {
                                        alignment: 'left',
                                        italics: true,
                                        text: getOrgName('@HCF.Web.Base.UserSession.CurrentOrg.Name'), @*text: '@HCF.Web.Base.UserSession.CurrentOrg.Name',*@
                                        fontSize: 14,
                                        margin: [0, 6, 0, 0],
                                        width: 200,
                                    },
                                    {
                                        alignment: 'middle',
                                        fontSize: 14,
                                        text: 'Manufacture Report',
                                        margin: [0, 6, 0, 0]
                                    }
                                ],
                                margin: 20
                            }
                        });
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Created on: ', { text: jsDate.toString() }]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['Generated from: ', { text:  'CRx' }]
                                    },
                                    {
                                        alignment: 'right',
                                        text: ['Generated by: ', { text: '@HCF.Web.Base.UserSession.CurrentUser.Name'} ]
                                    },
                                    {
                                        alignment: 'right',
                                        text: [{ text: page.toString()},' of ',{ text: pages.toString()}]
                                    }
                                ],
                                margin: 20
                            }
                        });

                    }
                },
                {
                    extend: 'excel',
                    title: ' Manufacture Report',
                    messageBottom: function () {
                        return $("#dvgeneratedby").text();
                    },
                    exportOptions: {
                        columns: [0],
                        orthogonal: 'export'
                    }
                }
            ]
     });

    </script>
    @*<style>
        #myTable_paginate {
            margin-top: -31px;
            margin-right: 36px;
        }

        .add_button_comman {
            position: absolute;
            right: 5px;
            top: 7px;
        }

        #ManufactureTable_filter {
            margin-right: 45px;
        }
    </style>*@
}