@model List<HCF.BDO.EPDetails>
@{
    ViewBag.Title = "ImportNonAssetsEPs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @section pageHeader{
    <section class="content-header">
        <h1>
            Compliance Dates For Non Assets EPs
        </h1>
    </section>
        }
    <!-- Main content -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-3 col-lg-1-8">
                <div class="box box-primary general_menu">
                    @await Html.PartialAsync("_MoreConfig")
                </div>
            </div>
            <div class="col-lg-9 col-xs-9 col-lg-8-2">
                @using (Html.BeginForm("NonAssetsEPsInspection", "Import", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="box box-primary col-lg-12" id="Setting_Content">
                        @*<p>Download Non-assets EP from download button and upload EP with inspection date.</p>
                            <div>
                                @Html.ActionLink("Download", "GetNonAssetsEps", "Import", new { @class = "button1" })
                                <input name="submitButton" type="button" class="button1" value="Upload" id="btnuploadeps" />
                            </div>*@
                        <div style="height:500px; overflow-x:hidden ;overflow-y:auto">
                            <table id="myTable1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            TJCStandard
                                        </th>
                                        <th>
                                            EPNumber
                                        </th>
                                        <th>
                                            StandardEP
                                        </th>
                                        <th>
                                            Description
                                        </th>
                                        <th>
                                            Inspection Date
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Count(); i++)
                                    {
                                        <tr Id="@Model[i].EPDetailId">
                                            <td>
                                                @Html.HiddenFor(m => m[i].EPDetailId)
                                                @Model[i].Standard.TJCStandard
                                            </td>
                                            <td>
                                                @Model[i].EPNumber
                                            </td>
                                            <td>
                                                @Model[i].StandardEp
                                            </td>
                                            <td style="text-align:left;">
                                                @*@await Html.PartialAsync("_EpDescription", Model[i].Description,
        new ViewDataDictionary { { "minLength", "110" },
            { "standardEp", @Model[i].StandardEp } })*@

                                                @await Html.PartialAsync("_EpDescription", Model[i].Description,
                               new ViewDataDictionary(
                               new Microsoft.AspNetCore.Mvc.ModelBinding.EmptyModelMetadataProvider(),
                               new Microsoft.AspNetCore.Mvc.ModelBinding.ModelStateDictionary())
                               {{ "minLength", "110" },{ "standardEp",@Model[i].StandardEp }}
                              )

                                            </td>
                                            <td>
                                                @Html.TextBoxFor(m => Model[i].InspectionDate, $"{Model[i].InspectionDate:MM/dd/yyyy}", new { @class = "form-control datepicker", @autocomplete = "off", @readonly = "readonly" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        
                    </div>
                }
            </div>
        </div>
    </div>

<script>
    $('.datepicker').datepicker({
        beforeShow: changeYearButtons,
        onChangeMonthYear: changeYearButtons,
        onSelect: function () {
            debugger;
            $.ajax({
                url: '@Url.Action("ComplianceEPsInspection", "Import")',
                type: "POST",
                data: {
                    epdetailId: $(this).parent().parent()[0].id,
                    inspectiondate: $(this).val()
                },
                dataType: 'json',
                success: function (result) {
                    debugger;
                    if (result.Result) {
                        swalalert("Inspection date added successfully!")
                        //$("#" + result.EPDetailId).addClass("disabled");
                    }
                    //alert("Call");
                }
            });
            //alert('Datepicker Closed' + $(this).val());
        }
    });

    var datatable = $('#myTable1').dataTable({
        "searching": false,
        "lengthChange": false,
        "bPaginate": false,
        "bInfo": false,
        "aaSorting": [],
        "language": {
            "emptyTable": "No data available in table"
        },
        aoColumnDefs: [
            {
                orderSequence: ["desc", "asc"],
                aTargets: ['_all']
            }
        ],
        dom: "<'row'<'col-sm-3'l><'col-sm-3'f><'col-sm-6'p>>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'i><'col-sm-7'p>>",

    });

</script>
@*<style>
    #myTable1_paginate {
        margin: -8px 0 6px 0;
        margin-right: -8px;
    }
</style>*@




