@model HCF.BDO.Wing
@{
    ViewBag.Title = "Add wings";
}

    @section pageHeader{
    <section class="content-header">
        <h1>
            @Localizer["AddWing"]
        </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="settingnewBox">
                    @await Html.PartialAsync("_MoreConfig")

                    <div class="rightcol-setting">
                        <div class="box box-primary">
                            @using (Html.BeginForm("addwings", "Organization", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                                
                                    <div class="row">
                                        @Html.HiddenFor(m => m.WingId)
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Floor.Building.BuildingName)<em class="required-field"> *</em>
                                                @*@Html.BuildingDropDownList("BuildingId", Model.BuildingId, "Select Building", new { @class = "form-control", required = "required" })*@
                                                <buildingdropdownList name="BuildingId"
                                                                      selectedvalue="@Model.BuildingId"
                                                                      firsttext="Select Building"
                                                                      required="required"
                                                                      class="form-control">

                                                </buildingdropdownList>

                                                @Html.ValidationMessageFor(model => model.BuildingId)
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.WingName)<em class="required-field"> *</em>
                                                @Html.TextBoxFor(model => model.WingName, new { @class = "form-control", required = "required" })
                                                @Html.ValidationMessageFor(model => model.WingName)
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Floor.FloorName)<em class="required-field"> *</em>
                                                <select id="FloorId" name="FloorId" class="form-control" required>
                                                    <option value="">Select</option>
                                                </select>
                                            </div>
                                            <div class="form-group comman_checkbox">
                                                <div>&nbsp;</div>

                                                @Html.CheckBoxFor(m => m.IsActive)<span></span>
                                                @Html.ValidationMessageFor(m => m.IsActive)
                                                <label>Active</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-right button_Div">
                                        <input type="submit"id="btnSubmit" value='Save' class="comm-button" />
                                        @*@Html.ActionLink("Cancel ", "Wings", "Organization", new { @class = "comm-button" })*@
                                        @Html.ActionLink("Cancel", "Wings", new { controller = "Organization" }, new { @class = "comm-Cancelbutton" })
                                    </div>
                                
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script>
  
    var buildingdddlCtr = $("#BuildingId");
    var floorsddlCtr = $("#FloorId");
  
    //getbuildingFloor();

    $(document).ready(function () {

        getbuildingFloor();

        $("#BuildingId").attr("required", true)
        $("#FloorId").attr("required", true)
      
    });

    buildingdddlCtr.change(function () {
        getbuildingFloor();
    });

    function getbuildingFloor() {
         bindFloorddl(buildingdddlCtr, floorsddlCtr, '@Model.FloorId');
    }

</script>