@model HCF.BDO.FrequencyMaster

@{
                /**/

                ViewBag.Title = "MngFrequencies";
                Layout = "~/Views/Shared/_Layout.cshtml";
}


    @section pageHeader{
    <section class="content-header">
            <h1>
                @Localizer["AddBuilding"]
                
                </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="settingnewBox">

                @await Html.PartialAsync("_MoreConfig")
                @*<div class="col-lg-3 col-xs-3 col-lg-1-8">
                    <div class="box box-primary col-lg-12 general_menu">
                        @await Html.PartialAsync("_MoreConfig")
                    </div>
                    </div>*@
                <div class="col-md-9 col-xs-9 col-lg-8-2">
                    <div class="box box-primary">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            @Html.HiddenFor(model => model.FrequencyId)
                            
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DisplayName)<em class="required-field"> *</em>
                                            @Html.TextBoxFor(model => model.DisplayName, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.DisplayName)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Type)
                                            <select name="Type" id="Type" class="form-control">
                                                <option value="">Select Type</option>
                                                <option value="Y">Y</option>
                                                <option value="M">M</option>
                                                <option value="D">D</option>
                                            </select>
                                        </div>
                                       
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.GracePeriod)<em class="required-field"> *</em>
                                            @Html.TextBoxFor(model => model.GracePeriod, new { @class = "form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.GracePeriod)
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Days)<em class="required-field"> *</em>
                                            @Html.TextBoxFor(model => model.Days, new { @class = "form-control", min = 1, required = "required" })
                                            @Html.ValidationMessageFor(model => model.Days)
                                        </div>
                                        <div class="form-group comman_checkbox">

                                            @Html.CheckBoxFor(model => model.IsActive)<span></span>
                                            @Html.LabelFor(m => m.IsActive)

                                        </div>
                                    </div>
                                </div>
                                <div class="button_Div">
                                    <input type="submit" value='Save' class="button1" />
                                    @Html.ActionLink("Cancel ", "Frequencies", "Organization", new { @class = "comm-Cancelbutton" })
                                </div>
                               
                            
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function () {
        var buildingTypeId = '@Model.FrequencyId';
        if (buildingTypeId > 0) {
            $("#BuildingTypeId").val(buildingTypeId);
        }
    });
</script>

