@model HCF.Web.ViewModels.TPCRAViewModel

@{
    ViewBag.Title = "PCRA";

    var data = Model.lstPermitSetting;
    int FLOWCOUNT = 0;
    int Missingflow = 0;

}

    @section pageHeader{
        <section class="content-header">
            <h1>
                @Localizer["TitleGetTPCRA"]
            </h1>
        </section>
    }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="" id="questtblediv">
                        <div class="row tablelist-topform">
                            <div class="col-md-12 form-inline">
                                <div class="form-group">
                                    <label>Project:</label>
                                    <icraprojectdropdown name="SelProjectId" selectedvalue="0" firsttext="-- All Project --" class="form-control">
                                    </icraprojectdropdown>
                                    @*@Html.ICRAProjectDropDown("SelProjectId", 0, "-- All Project --", new { @class = "form-control" })*@
                                </div>
                                <div class="form-group">
                                    <label>Status:</label>
                                    <approvalstatusdropdownlist name="statusId" selectedvalue="-2" class="form-control"></approvalstatusdropdownlist>
                                    @*@Html.ApprovalStatusDropDownList("statusId", -2, new { @class = "form-control" })*@
                                </div>
                            </div>
                        </div>
                        @*<div class="add_button_comman">
                            <a href='@(Url.RouteUrl("addTPCRA"))' class="pull-right">
                                <img src="@Url.Content(HCF.Web.Models.ImagePathModel.AddIcon)" title="Add PCRA" alt="3d_add_button" />
                            </a>
                        </div>*@

                        <div class="row">
                           
                            <div class="col-md-12">
                                <table id="questtbl" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>PCRA #</th>
                                            <th>Project Name</th>
                                            @*<th>@(!string.IsNullOrEmpty(HCF.Web.Base.UserSession.CurrentOrg.Orgkey.ToString()) && HCF.Web.Base.UserSession.CurrentOrg.Orgkey.ToString()!= "91bcfac3-51b2-45eb-ba66-398de587110c" ? @Html.DisplayName("Requester Sign Date ") : @Html.DisplayName("Contractor Sign Date") )</th>
                    <th>@(!string.IsNullOrEmpty(HCF.Web.Base.UserSession.CurrentOrg.Orgkey.ToString()) && HCF.Web.Base.UserSession.CurrentOrg.Orgkey.ToString()!= "91bcfac3-51b2-45eb-ba66-398de587110c" ? @Html.DisplayName("Facility Sign Date "): @Html.DisplayName("Plant Operations/Engineering & Maintenance Sign Date")   )</th>

                    <th>@Html.DisplayName("Safety Sign Date")</th>*@


                                            @foreach (var item in data)
                                            {
                                                <th>@string.Format("{0} Sign Date", @item.LabelText) </th>
                                            }
                                            <th>PCRA Date</th>
                                            <th>
                                                @Localizer["Status"]
                                            </th>
                                            <th>Action</th>
                                            <th style="display:none">

                                            </th>
                                            <th style="display:none"></th>
                                            <th style="display:none"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.lstPCRAQuestions.Where(x => x.IsActive).OrderByDescending(x => x.CreatedDate))
                                        {
                                        <tr>
                                            <TD>@item.PCRANumber</TD>
                                            <td>@((item.Project != null) ? item.Project.ProjectName : "")</td>
                                            @if (item.TPermitWorkFlowDetails != null && item.TPermitWorkFlowDetails.Count > 0)
                                            {

                                                FLOWCOUNT = 0;
                                                foreach (var permitworkflowitem in item.TPermitWorkFlowDetails)
                                                {

                                                    FLOWCOUNT = FLOWCOUNT + 1;
                                                    <td>
                                                        @permitworkflowitem.LabelSignDate.ToFormatDate()<span></span>
                                                    </td>


                                                }

                                                @if (FLOWCOUNT < data.Count)
                                                {
                                                     Missingflow = data.Count - FLOWCOUNT;
                                                    for (int i = 0; i < Missingflow; i++)
                                                    {
                                                        <td>
                                                            <span></span>
                                                        </td>
                                                    }

                                                }


                                            }
                                            else
                                            {

                                                foreach (var permit in data)
                                                {
                                                    <td>
                                                        <span></span>
                                                    </td>
                                                        }
                                                    }
                                            <td data-sort="@item.CreatedDate.Ticks">
                                                @item.CreatedDate.ToFormatDate()
                                            </td>
                                            <td>
                                                @*@item.ApprovalStatus*@
                                                @{
                                                    HCF.BDO.Enums.ApprovalStatus enums = (HCF.BDO.Enums.ApprovalStatus)item.ApprovalStatus;
                                                }
                                                <p>@enums.GetDescription()</p>

                                            </td>
                                            <td class="mopmoredot">
                                                <a href="@Url.Action("AddPCRA", "PCRA",new {projectId=item.ProjectId, tpcraquestid = item.TPCRAQuesId, mode="edit"})">
                                                    <span><img src="@Url.Content(HCF.Web.Models.ImagePathModel.EditIcon)" title="Edit Question PCRA" alt="3d_add_button" /></span>
                                                </a>
                                                <a data-id="@item.TPCRAQuesNumber" class="@(HCF.Web.Base.UserSession.IsInRole("setup_Constructions_superadmin") ? "deletepermit" :"deletepermit hide")">
                                                    <span><img src="@Url.Content(HCF.Web.Models.ImagePathModel.DeleteIcon)" title="Delete Permit" alt="3d_add_button" /></span>
                                                </a>



                                                <div class="dropdown icratable-drop icondpwnload">
                                                    <button class="dropdown-toggle" type="button" data-toggle="dropdown">
                                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                                        <span>
                                                            <img src="~/dist/Images/Icons/pdf_icon.png" title="Download Pdf" alt="" />
                                                        </span>
                                                    </button>
                                                    <ul class="dropdown-menu ctmenu">

                                                        <li data-action="icrapermit">
                                                            <a href="@Url.Action("PrintPCRAPdf", "Pdf" ,new {projectId=item.ProjectId, tPCRAQuesId = item.TPCRAQuesId,IsAttachmentIncluded=false})">
                                                                <span>
                                                                    Export permit as PDF
                                                                </span>
                                                            </a>

                                                        </li>

                                                        <li data-action="icrapermit">
                                                            <a href="@Url.Action("PrintPCRAPdf", "Pdf",new {projectId=item.ProjectId, tPCRAQuesId = item.TPCRAQuesId,IsAttachmentIncluded=true})">
                                                                <span>
                                                                    Export permit as PDF w/ attachments
                                                                </span>
                                                            </a>

                                                        </li>


                                                    </ul>

                                                </div>
                                            </td>
                                            <td style="display:none">
                                                @item.CreatedDate.ToFormatDate()<span></span>
                                            </td>
                                            <td style="display:none">@item.ApprovalStatus</td>
                                            <td style="display:none">@item.ProjectId</td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
    var selprojectId = $("#SelProjectId");
    $(document).ready(function () {

        var projectId = parseInt(getParameterByName('ProjectId'));
        if (projectId != undefined && projectId > 0) {
            selprojectId.val(projectId);
            filterRecords(projectId);
        }
        $("#statusId").prepend("<option selected='selected' value='-2' >Select All</option>");
        $("#statusId>option[value=4]").hide();
        //$("#statusId>option[value=5]").hide();
        $("#statusId>option[value=6]").hide();
        var status = getParameterByName('Status');
        if (status != undefined) {
            $("#statusId").val(status);
            filterRecordsbyStatus(status);
        }
    });
    selprojectId.change(function () {
        var projectId = selprojectId.val();
        filterRecords(projectId);
    })

    function filterRecords(projectId) {
        if (projectId > 0) {
            //alert("Call " + projectId);
            dataTables.column(-1).search("^" + projectId + "$", true, true, false).draw();
        } else {
            dataTables.columns(-1).search("").columns(-2).search("").draw();
        }
    }
    $("#statusId").change(function () {
        filterRecordsbyStatus($("#statusId").val());
    });
    function filterRecordsbyStatus(status) {
        if (status != undefined) {
            if (status !=-2) {
                //alert("Call " + projectId);
                dataTables.column(-2).search("^" + status + "$", true, true, false).draw();
            } else {
                dataTables.columns(-1).search("").columns(-2).search("").draw();


            }
        }
    }
    var dataTables = $('#questtbl').DataTable({
            "lengthChange": false,
            "aaSorting": [],
            "pageLength": 20,
            "bPaginate": $('#questtbl tbody tr').length > 20,
            "bInfo": false,
            "oSearch": { "bSmart": false },
            "language": {
                "emptyTable": "No data available in table",
                "search": "_INPUT_",
                "searchPlaceholder": "Search.."
        },
        //aoColumnDefs: [
        //    {
        //        "orderable": false, "targets": [5]
        //    }
        //],
            //dom: "<'row'<'col-sm-3'l><'col-sm-3'><'col-sm-6'p>>" +
            //    "<'row'<'col-sm-12'<'table-responsive'tr>>>" +
            //    "<'row'<'col-sm-5'i>>" + "Blfrtip",

             initComplete: function () {
             $("div.toolbar").html('<div class="add-commanBtn"><a href="@(Url.Action("addpcra", "pcra"))" class= "pull-right" ><img src="/dist/Images/Icons/3d_add_button.png" title="Add PCRA" alt="3d_add_button"></a></div >');
        },
        dom: "<'row'<'col-sm-2'B><'col-sm-2'l><'col-sm-8 tableactions'flp <'toolbar'>>>" + "<'row'<'col-md-12'<'table-responsive tableHeight'tr> > >" + "<'row'<'col-sm-12 text-right'p>>",

            buttons: [
                {
                    extend: 'pdfHtml5',
                    orientation: 'portrait',
                    //pageSize:'LEGAL',
                    title: 'PCRA Report',
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4,5,6]
                    },
                    messageBottom: function () {
                        return $("#dvgeneratedby").text();
                    },
                    customize: function (doc) {
                        //genereateRpeort(doc)
                        //Remove the title created by datatTables
                        doc.content.splice(0, 1);
                        //Create a date string that we use in the footer. Format is dd-mm-yyyy
                        var now = new Date();
                        var jsDate = setDateFormat(now);
                        //var jsDate = now.getDate() + '-' + (now.getMonth() + 1) + '-' + now.getFullYear();
                        // Logo converted to base64
                        //var logo = $("#logoimgbase64").val();
                        debugger;
                        var logo = localStorage.getItem("logoimgbase64");//getBase64FromImageUrl();
                        //console.log(logo);
                        // The above call should work, but not when called from codepen.io
                        // So we use a online converter and paste the string in.
                        // Done on http://codebeautify.org/image-to-base64-converter
                        // It's a LONG string scroll down to see the rest of the code !!!
                        //var logo = '';
                        // A documentation reference can be found at
                        // https://github.com/bpampuch/pdfmake#getting-started
                        // Set page margins [left,top,right,bottom] or [horizontal,vertical]
                        // or one number for equal spread
                        // It's important to create enough space at the top for a header !!!
                        doc.pageMargins = [20, 60, 20, 30];
                        // Set the font size fot the entire document
                        doc.defaultStyle.fontSize = 8;
                        // Set the fontsize for the table header
                        doc.styles.tableHeader.fontSize = 7;
                        // Create a header object with 3 columns
                        // Left side: Logo
                        // Middle: brandname
                        // Right side: A document title
                        doc['header'] = (function () {
                            return {
                                columns: [
                                    { image: logo, width: 40 },
                                    {
                                        alignment: 'left',
                                        italics: true,
                                          text: ('@HCF.Web.Base.UserSession.CurrentOrg'!=null ?getOrgName('@HCF.Web.Base.UserSession.CurrentOrg.Name'):""),
                                        fontSize: 14,
                                        margin: [0, 6, 0, 0],
                                        width: 200,
                                    },
                                    {
                                        alignment: 'middle',
                                        fontSize: 14,
                                        text: 'PCRA Report',
                                        margin: [0, 6, 0, 0]
                                    }
                                ],
                                margin: 20
                            }
                        });
                        // Create a footer object with 2 columns
                        // Left side: report creation date
                        // Right side: current page and total pages
                        doc['footer'] = (function (page, pages) {
                            return {
                                columns: [
                                    {
                                        alignment: 'left',
                                        text: ['Generated from CRx on ', { text: jsDate.toString() }]
                                    },
                                    {
                                        alignment: 'center',
                                        text: ['Page ', { text: page.toString() }, ' of ', { text: pages.toString() }]
                                    },
                                    {
                                        alignment: 'right',
                                       text: ['Generated by: ', { text: ('@HCF.Web.Base.UserSession.CurrentUser'!=null ?'@HCF.Web.Base.UserSession.CurrentUser.Name':"") }]
                                    }
                                ],
                                margin: 20
                            }
                        });
                        // Change dataTable layout (Table styling)
                        // To use predefined layouts uncomment the line below and comment the custom lines below
                        // doc.content[0].layout = 'lightHorizontalLines'; // noBorders , headerLineOnly
                        var objLayout = {};
                        objLayout['hLineWidth'] = function (i) { return .5; };
                        objLayout['vLineWidth'] = function (i) { return .5; };
                        objLayout['hLineColor'] = function (i) { return '#aaa'; };
                        objLayout['vLineColor'] = function (i) { return '#aaa'; };
                        objLayout['paddingLeft'] = function (i) { return 4; };
                        objLayout['paddingRight'] = function (i) { return 4; };
                        doc.content[0].layout = objLayout;
                    }
                },
                {
                    extend: 'excel',
                    title: 'PCRA Report',
                    messageBottom: function () {
                        return $("#dvgeneratedby").text();
                    },
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4,5,6],
                        orthogonal: 'export'
                    }
                }
            ]
    });


    $(document).on('click', 'a.deletepermit', function (e) {
        debugger;
        e.preventDefault();
        var Id = $(this).data("id");
        swal({
            title: "Are you sure?",
            text: "Do you want to delete this permit?",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Yes, delete it!",
            closeOnConfirm: false
        },
            function () {
                $.ajax({
                    type: "GET",
                    url: CRxUrls.Permit_Delete + "?id=" + Id + "&permittype=8",
                    success: function (data) {
                        swal("Deleted!", "Your permit has been deleted.", "success");
                        location.reload();
                    },
                    dataType: "json",
                    traditional: true
                });
            });
    });
    </script>
